.App {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#0be881;
}

.Board {
  height: 100vmin;
  width: 100vmin;
  background-color: #db904a;
  display: flex;
}

.Queen{
  flex-direction:row;
  height: 5vmin;
  width:5vmin;
  background-color: orangered;
  border-radius: 2vmin;
  font-size:  3vmin;
  align-items: center;
  justify-content: center;
}
.Pawn{
  height: 5vmin;
  align-items: center;

  justify-content: center;
  width:5vmin;
  background-color:khaki;
  font-size:  3vmin;
  border-radius: 2vmin;
}
.Empty{
  font-size:  3vmin;
  height: 5vmin;
  width:5vmin;

  align-items: center;
  justify-content: center;
}
.Striker{
  height: 5vmin;
  font-size:  3vmin;
  width:5vmin;

  align-items: center;
  justify-content: center;
  background-color:indigo;
  border-radius: 2vmin;
}
.Pot{
  font-size:  3vmin;
  align-items: center;
  justify-content: center;
  height: 5vmin;
  width:5vmin;
  background-color:black;
  border-radius: 2vmin;
}
.App-header {
  background-color: #cd8500;
  min-height: 100vh;
  width:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  margin: 1vmin;
  border-radius: 1vmin;
  color: #0658f0;
  font-size: 3vmin;
  font-family: cursive;
  font-weight: bolder;
}
